@model NuclearProject.Models.WarheadType
@{
    ViewBag.Title = "View";
}

<h2>@Model.WarheadTypeName</h2>
<p>Lorem ipsum</p>
<a href="/Warhead/Edit/@Model.WarheadTypeId">Edit</a>
<a href="/Warhead/Index">Listeye Dön</a>
