@model NuclearProject.Models.Missile
<h2>Füzeyi Sil</h2>
<form action="#" method="post">
    <table>
        <tr>
            <td colspan="2">@Model.MissileName füzesini silmek istediğinize emin misiniz?</td>
        </tr>
        <tr>
            <td><input type="submit" value="Evet" /></td>
            <td><a href="/Missile/Index">Hayır</a></td>
        </tr>
    </table>
</form>


